.card {
    position: relative;
    width: 20%;
    height: 22.22vw;
    transform: translateY(0%) scale(1);
    transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    overflow: visible;
}

.card:hover {
    transform: translateY(-10%) scale(1.075);
    z-index: 2;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100%;
    text-align: center;
    padding: 0 2vw;
}

.bgImg {
    width: 100%;
    position: absolute;
}

.title {
    margin-top: 2.22vw;
    font-size: 1.625vw;
}

.description {
    margin-bottom: 2.2vw;
    font-size: 1.5vw;
}

.newsletterDescription, .press_kitDescription {
    margin-bottom: 2.5vw;
}

.playtestDescription {
    margin-bottom: 3vw;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    15% {
        transform: rotate(-5deg);
    }
    30% {
        transform: rotate(5deg);
    }
    45% {
        transform: rotate(-4deg);
    }
    60% {
        transform: rotate(4deg);
    }
    75% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.wiggle {
    animation: wiggle 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
    animation-delay: 150ms;
}

@media (max-width: 1080px) {
    .card {
        width: 60vw;
        height: 83.33vw;
        display: flex;
        justify-content: center;
    }

    .card:hover {
        transform: translateY(0%) scale(1);
        z-index: 0;
    }

    .content {
        padding: 0 10vw;
    }

    .title {
        margin-top: 8.5vw;
        font-size: 5.5vw;
    }

    .description {
        margin-bottom: 8.5vw;
        font-size: 4.5vw;
    }

    .press_kitDescription {
        margin-bottom: 10.5vw;
    }

    .newsletterDescription, .playtestDescription {
        margin-bottom: 12vw;
    }
}

@media (max-width: 600px) {
    .card {
        width: 70vw;
        height: 97.21vw;
    }

    .content {
        padding: 0 12vw;
    }

    .title {
        margin-top: 10.25vw;
        font-size: 6.5vw;
    }

    .description {
        margin-bottom: 9vw;
        font-size: 5vw;
    }

    .press_kitDescription {
        margin-bottom: 12.5vw;
    }

    .playtestDescription {
        margin-bottom: 14vw;
    }

    .newsletterDescription {
        margin-bottom: 16vw;
    }
}