.card {
    position: relative;
    width: 20%;
    height: 22.22vw;
    transform: translateY(0%) scale(1);
    transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    overflow: visible;
}

.card:hover {
    transform: translateY(-10%) scale(1.075);
    z-index: 2;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100%;
    text-align: center;
    padding: 0 2vw;
}

.bgImg {
    width: 100%;
    position: absolute;
}

.title {
    margin-top: 2.22vw;
    font-size: 1.625vw;
}

.description {
    margin-bottom: 2.2vw;
    font-size: 1.5vw;
}

@media (max-width: 1080px) {
    .card {
        width: 60vw;
        height: 66.66vw;
        display: flex;
        justify-content: center;
    }

    .card:hover {
        transform: translateY(0%) scale(1);
        z-index: 0;
    }

    .content {
        padding: 0 10vw;
    }

    .title {
        margin-top: 6.5vw;
        font-size: 5vw;
    }

    .description {
        margin-bottom: 6.5vw;
        font-size: 4.5vw;
    }
}

@media (max-width: 600px) {
    .card {
        width: 70vw;
        height: 77.77vw;
    }

    .content {
        padding: 0 12vw;
    }

    .title {
        margin-top: 7.75vw;
        font-size: 5.5vw;
    }

    .description {
        margin-bottom: 7vw;
        font-size: 5vw;
    }
}