.chevronWrapper {
    cursor: pointer;
    height: 60%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    .chevron {
        height: 36px;
        width: 36px;
    }
}