.chevronWrapper {
    height: 60%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    .chevronWrapper {
        width: 15vw;
    }

    .chevron {
        height: 8vw;
        width: 8vw;
    }
}