.chevronWrapper {
    height: 60%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    .chevronWrapper {
        width: unset;
    }

    .chevron {
        height: 48px;
        width: 48px;
    }
}