:root {
    --font-lexend-sans: sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-lexend-sans), serif;
    cursor: url('../../public/icons/Custom_Cursor_32x32_white.png'), auto;
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: url('../../public/icons/Custom_Cursor_32x32.png'), auto;
}
