.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: absolute;
    padding: 1.5rem;
}

@media (max-width: 1080px) {
    .nav {
        padding: 1rem;
        bottom: 0;
        flex-direction: column-reverse;
        align-items: center;
        gap: 1rem;
    }
}